/* .webAccordian >div{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    border-bottom: 1px solid #ECF7FF;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
} */